<ion-view can-swipe-back="false" ng-controller="indexCtrl">
    <ui-view>

    </ui-view>
    <div class="tabs tabs-icon-top tabs-light">
        <a class="tab-item tab-item-calm" ui-sref="index.tab1" ui-sref-active="active">
            <i class="icon ion-ionic"></i>
            tab1
        </a>
        <!--ui-sref="index.mine"-->
        <a class="tab-item tab-item-calm" ui-sref="index.tab2" ui-sref-active="active">
            <i class="icon ion-home"></i>
            tab2
        </a>
        <a class="tab-item tab-item-calm" ui-sref="index.tab3" ui-sref-active="active">
            <i class="icon ion-chatboxes"></i>
            tab3
        </a>
        <a class="tab-item tab-item-calm" ui-sref="index.tab4"  ui-sref-active="active">
            <i class="icon ion-gear-b"></i>
            tab4
        </a>
    </div>
</ion-view>